.inline{
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
}
select{
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 0px;
  margin-bottom: 25px;
}

.close {
  margin-left: 20px;
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input{
  margin-bottom: 0px;
}


