<style>
  body,
  html {
    margin: 0;
    height: 100%;
  }
</style>

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <%= form_tag( {controller: polls_path}, {method: :get}) do %>
          Username: <%= text_field_tag(:username, nil, :placeholder => "Enter username here", :class => "input-line full-width" ) %>
          <br>

          Password: <%= password_field_tag(:password, nil, :placeholder => "Enter password here", :class => "input-line full-width") %>
          <br>

          <%= submit_tag("Login", id: :login, class: 'ghost-round full-width', style: "background: transparent") %>
        <% end %>

      </div>
      <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
    </div>
  </div>
</div>
