.infoBox{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
  width: 400px;
  padding-left: 10px;
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: rgb(57, 74, 99);
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: normal;
}
